<div class="row mb-2">
  <div class="col-sm-7">
    {{people-search people=model}}
  </div>
  <div class="col-sm-5">
    {{#link-to "people.new"}}
      <a class="float-right mr-2">
        <i class="fa fa-plus-square-o" aria-hidden="true">
          Neues Profil
        </i>
      </a>
    {{/link-to}}
  </div>
</div>
{{outlet}}
